/* Nav.css */

@font-face {
  font-family: 'Redaction';
  src: url("/public/fonts/Redaction-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

* {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: background-color 0.3s, padding 0.3s;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: white;
  padding: 10px 40px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 25px;
  transition: filter 0.3s ease;
}

.navbar.scrolled .logo img {
  filter: invert(1);
}

.links {
  display: flex;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.links a,
.social-icons a i {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.links a:hover {
  font-family: 'Redaction';
  color: #dcf263;
}

.navbar.scrolled .links a,
.navbar.scrolled .social-icons a i {
  color: black;
}

.nav-divider {
  color: #dcf263;
}

.links a {
  font-family: "Rubik", sans-serif;
  transition: font-family 0.6s ease;
}

.links a:hover {
  animation: fontChange 0.6s ease forwards;
}

.links a:not(:hover) {
  animation: fontRevert 0.6s ease forwards;
}

@keyframes fontChange {
  0% {
    font-family: "Rubik", sans-serif;
  }
  20% {
    font-family: "Rubik", sans-serif;
    font-style: italic;
  }
  30% {
    font-family: 'Redaction', sans-serif;
  }
}

@keyframes fontRevert {
  0% {
    font-family: "Redaction", sans-serif;
    color: #dcf263;;
  }
  5% {
    font-family: "Rubik", sans-serif;
    font-style: italic;
    color: #dcf263;;
  }
  10% {
    font-family: 'Rubik', sans-serif;
  }
}
