/* universal */

* {
  cursor: none;
}

html {
  background-color: black;
  color: white;
  cursor: none;
}

*::selection {
  color: black;
  background-color: #dcf263;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 300vh;
}

/* temp style */

footer {
  position: relative;
  top: 2000px;
}

.custom-cursor {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease, background-color 0.4s ease, width 0.4s ease, height 0.4s ease, border 0.4s ease-in-out, opacity 0.5s ease;
  transform: translate(-50%, -50%);
}

.custom-cursor.hover {
  width: 70px;
  height: 70px;
  border: 2px solid #dcf263;
  background-color: transparent;
  opacity: 1;
  filter: blur(2px);
  transition: transform 0.4s ease, border 0.4s ease, width 0.4s ease, height 0.4s ease, opacity 0.3s ease;
}

.custom-cursor {
  opacity: 0;
}


/* hero */

.container {
  position: relative;
  height: 100vh;

}

.parallax-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.parallax-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.accents {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  text-align: left;
}

.accent-1,
.accent-2,
.accent-3 {
  display: flex;
  flex-direction: column;
}

.accent-3>ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.accent-3 img {
  width: 100%;
  max-width: 120px;
  margin-left: 25px;
}

.ph-font {
  font-family: 'Redaction';
  text-transform: none;
  font-weight: 100;
  color: var(--color-accent, #dcf263);
}

.ph-icon {
  color: var(--color-accent, #dcf263);
}

.hero h1 .letter,
.hero h1 span {
  display: inline-block;
  will-change: transform, opacity;
}

.mobile-portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.mobile-portfolio-item {
  position: relative;
  overflow: hidden;
}

.mobile-portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: .3s ease;
  overflow: hidden;
}

.mobile-portfolio-item h3 {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 40px 40px;
  margin: 0;
  text-align: center;
}

.mobile-portfolio-item {
  border: solid 0px #dcf263;
  transition: .3s ease;
  overflow: hidden;
}

.mobile-portfolio-item:hover {
  overflow: hidden;
  border: solid 25px #dcf263;
  transition: .3s ease;
}

.mobile-portfolio-item img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.slider-text {
  display: inline-flex;
}

.slider-text p {
  margin-left: 10px;
}

.rotating-logo {
  position: relative;
  top: -20px;
  width: 130px;
  margin-left: 25px;
}

.rotating-logo img {
  position: absolute;
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.menu-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
  z-index: 9999;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.fullscreen-menu .menu-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.fullscreen-menu .menu-links a {
  color: white;
  font-size: 42px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease;
}

.fullscreen-menu .menu-social-icons i {
  color: white;
  display: inline-flex;
  margin: 0 20px;
  font-size: 42px;
}

.fullscreen-menu.open {
  opacity: 1;
  visibility: visible;
}

.navbar .menu-social-icons {
  display: none;
}

/* responsive */

.mobile-portfolio-grid {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .accents {
    display: none;
  }

  .hero h1 {
    font-size: 35px;
  }

  .mobile-portfolio-grid {
    display: grid;
  }
}

@media only screen and (max-width: 600px) {
  .accents {
    display: none;
  }

  .hero h1 {
    font-size: 23px;
  }

  .parallax-header {
    height: 90%;
  }

  .navbar .links {
    display: none;
  }

  .navbar .social-icons {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar .menu-social-icons {
    display: block;
  }

  .navbar .logo {
    z-index: 2222;
  }

  .mobile-portfolio-grid {
    display: block;
  }
}