/* universal */

html {
  background-color: black;
  color: white;
}

*::selection {
  color: black;
  background-color: #dcf263;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 300vh;
}

/* temp style */

footer {
  position: relative;
  top: 200px;
}

/* hero */

.container {
  position: relative;
  height: 100vh;

}

.parallax-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.parallax-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.accents {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  text-align: left;
}

.accent-1,
.accent-2,
.accent-3 {
  display: flex;
  flex-direction: column;
}

.accent-3>ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.accent-3 img {
  width: 100%;
  max-width: 120px;
  margin-left: 25px;
}

.ph-font {
  font-family: 'Redaction';
  text-transform: none;
  font-weight: 100;
  color: var(--color-accent, #dcf263);
}

.ph-icon {
  color: var(--color-accent, #dcf263);
}

.hero h1 .letter,
.hero h1 span {
  display: inline-block;
  will-change: transform, opacity;
}

.youtube-container {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
  pointer-events: none;
}

.youtube-container iframe {
  width: 300%;
  height: 100%;
  margin-left: -100%;
}